* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%; /* Base font size */
}

body, input, button, select {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
	font-size: 1rem; /* Equivalent to the base font size */
	background-color: #fff;
	color: #000;
	padding: 46px 0 0 0;
}

small {
	font-size: .9rem;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;
	padding: 0;
	flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.calculator, .results {
	width: 100%;
	color: #063102;
	margin: 0;
	padding: 16px;
	background-color: #f8f8f8;
}

.calculator {
	max-width: 512px;
}

#message {
	font-size: 1.25rem;
	color: #063102;
	margin: 0 0 20px 0;
}

.input-group {
	margin: 8px 0;
}

.input-group label {
	display: block;
	margin-bottom: 3px;
}

.input-group input,
.input-group button,
.input-group select {
	width: 100%;
	padding: 12px;
	border: 1px solid #0c8d00;
	outline: none;
	border-radius: 12px;
	font-size: 1rem;
}

.input-group button {
	background-color: #0c8d00;
	color: #fff;
	cursor: pointer;
}

.results {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	height: 380px; /* Increase height of the results container */
}

.hidden {
	display: none;
}

#langSelect {
	position: fixed;
	top: 9px;
	right: 9px;
	appearance: none;
	padding: 5px;
	font-size: 1rem;
	border: none;
	background-color: transparent;
	color: #000;
	width: 30px;
}

/* Styles for flag icons */
#langSelect option {
	margin: 0;
	padding: 0;
	font-size: 1.25rem;
}

header {
	text-align: center;
	font-size: 1.1rem;
	color: #fff;
	background-color: #0c8d00;
	height: 46px;
	padding: 9px;
	position: fixed;
	top: 0;
	width: 100%;
}

@media (max-width: 666px) {
	.container {
		flex-direction: column;
	}

	.calculator, .results {
		width: 100%;
		max-width: none;
	}
}

@media (min-width: 667px) {
	.container {
		flex-direction: row;
		justify-content: space-between;
	}

	.calculator {
		width: 320px;
	}

	.results {
		width: calc(100% - 320px);
	}

}

/* Adjust the height of the canvas for better visibility */
canvas#data-set {
	height: 100%;
	max-height: 280px;
}

.compound-form .input-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
}

.compound-form fieldset {
	padding: 0 0 0 20px;
	border: 1px solid #ddd;
	background-color: #fff;
	border-radius: 12px;
	margin: 20px 0;
}
.compound-form fieldset .input-group {
	padding: 0 20px 0 0;
}

.compound-form .input-group:last-child {
	border-bottom: none;
}

.compound-form label {
	flex: 1;
	color: #333;
	white-space: nowrap;
	font-weight: bold;
}

.input-container {
	display: flex;
	align-items: center;
	flex: 2;
}

.input-container input {
	flex: 1;
	padding: 9px 0;
	border: none;
	text-align: right;
	background-color: transparent;
}

/* Hide input number spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.unit {
	margin-left: 10px;
	color: #666;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #121212;
		color: #fff;
	}

	.calculator {
		background-color: #1e1e1e;
		color: #fff;
	}

	.input-group input,
	.input-group button,
	.input-group select {
		color: #fff;
	}

	.compound-form fieldset {
		background-color: #333;
	}

	.compound-form label {
		color: #fff;
	}

	.unit {
		color: #bbb;
	}

	.input-group button {
		background-color: #0c8d00;
		color: #fff;
	}

	.results {
		background-color: #1e1e1e;
	}

	#message {
		color: #fff;
	}

	#langSelect {
		background-color: #2c2c2c;
		color: #fff;
	}
}

span.short {
	display: none;
}
span.long {
	display: inline;
}

@media (max-width: 400px) {
	span.long {
		display: none;
	}
	span.short {
		display: inline;
	}
}
